[submodule "amf"]
	path = NFs/amf
	url = https://github.com/ubrovc/amf.git
[submodule "ausf"]
	path = NFs/ausf
	url = https://github.com/ubrovc/ausf.git
[submodule "n3iwf"]
	path = NFs/n3iwf
	url = https://github.com/ubrovc/n3iwf.git
[submodule "nrf"]
	path = NFs/nrf
	url = https://github.com/ubrovc/nrf.git
[submodule "nssf"]
	path = NFs/nssf
	url = https://github.com/ubrovc/nssf.git
[submodule "pcf"]
	path = NFs/pcf
	url = https://github.com/ubrovc/pcf.git
[submodule "smf"]
	path = NFs/smf
	url = https://github.com/ubrovc/smf.git
[submodule "udm"]
	path = NFs/udm
	url = https://github.com/ubrovc/udm.git
[submodule "udr"]
	path = NFs/udr
	url = https://github.com/ubrovc/udr.git
[submodule "upf"]
	path = NFs/upf
	url = https://github.com/ubrovc/go-upf.git
[submodule "webconsole"]
	path = webconsole
	url = https://github.com/free5gc/webconsole.git
